<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/about/home.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}ГЛАВНАЯ{% endblock %}</title>
</head>
<body>

    <style>
        body {
            background-color: #333;
        }
        h3 {
            color: #ccc;
        }
        h2 {
            color: #ccc;
        }
        s {
            color: #ccc;
        }
    </style>
<div class="preloader">
    <div class="preloader__row">
        <div class="preloader__item"></div>
        <div class="preloader__item"></div>
    </div>
</div>


<script>
    window.onload = function () {
      document.body.classList.add("loaded");
    };
   </script>
  <script>
    window.onload = function () {
      document.body.classList.add("loaded_hiding");
      window.setTimeout(function () {
        document.body.classList.add("loaded");
        document.body.classList.remove("loaded_hiding");
      }, 500);
    };
    

    const sendButton = document.getElementById('send-button');
    const messageInput = document.getElementById('message-input');

    sendButton.addEventListener('click', sendMessage);
    messageInput.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        sendMessage();
    }
    });

    function sendMessage() {
        const message = $('#message-input').val().trim();
        if (message !== '') {
            $.ajax({
                url: '/send_message',
                type: 'POST',
                data: {message: message},
                success: function(response) {
                    $('#message-input').val('');
                    displayMessages(response.messages);
                }
            });
        }
    }

    
  </script>

  
<div class="help-icon hover-target">
    <i class="fas fa-question-circle"></i>
</div>

<div class="help-popup">
    <div class="help-popup-header">
        <h3>Помощь</h3>
        <span class="help-popup-close">&times;</span>
    </div>
    <div class="help-popup-body ">
        <div class="help-messages"></div>
        <div class="help-message user">
            <div class="help-message-avatar">
                <i class="fas fa-user"></i>
            </div>
            <div class="help-message-input">
                <input type="text" placeholder="Введите сообщение..." id="message-input">
                <button id="send-button" onclick="sendMessage()">Отправить</button>
            </div>
        </div>
    </div>
</div>

<script>
    function sendMessage() {
        const message = $('#message-input').val().trim();
        if (message !== '') {
            $.ajax({
                url: '/send_message',
                type: 'POST',
                data: {message: message},
                success: function(response) {
                    $('#message-input').val('');
                    displayMessages(response.messages);
                }
            });
        }
    }

    function displayMessages(messages) {
        const messagesContainer = $('.help-messages');
        messagesContainer.empty();
        for (const [sender, message] of messages) {
            const messageClass = (sender === 'user') ? 'user' : 'bot';
            const messageElement = $(`
                <div class="help-message ${messageClass}">
                    <div class="help-message-avatar">
                        <i class="fas fa-${sender}"></i>
                    </div>
                    <div class="help-message-text">
                        <p>${message}</p>
                    </div>
                </div>
            `);
            messagesContainer.append(messageElement);
        }
        messagesContainer.scrollTop(messagesContainer.prop('scrollHeight'));
    }

    // Обработчики событий
    $(document).ready(function() {
        const helpIcon = $('.help-icon');
        const helpPopup = $('.help-popup');
        const helpPopupClose = $('.help-popup-close');
        const messageInput = $('#message-input');
    
        helpIcon.on('click', function() {
            helpPopup.toggle();
        });

        helpPopupClose.on('click', function() {
            helpPopup.hide();
        }); 
    
        messageInput.on('keydown', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });
    });
</script>
  


<div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>
  <ul class="menu__box">
    <a class="header__logo hover-target" href="{{ url_for('index') }}">1FLIPSTORE1</a>
    <br><br>
    <a class="menu__item hover-target" href="{{ url_for('index') }}">ГЛАВНАЯ</a>
    <a class="menu__item hover-target" href="{{ url_for('help') }}">ПОМОЩЬ</a>
    <a class="menu__item hover-target" href="{{ url_for('garantiya') }}">ГАРАНТИЯ</a>
  </ul>
</div>
<br><br>
<div class="user-info">
    {% if user %}
    <span class="username"><span class="username-first-letter">{{ user.username[0] }}</span>{{ user.username[1:] }}   <big><big><big><i class="bi bi-person-fill"></i></big></big></big></span>
    <br>
    <a class="menu__log hover-target" href="{{ url_for('logout') }}">Выйти</a>
    <br>
    <a class="menu__log hover-target" href="{{ url_for('cart') }}">Корзина <big><big><big><i class="bi bi-cart"></i></big></big></big></a>
    {% else %}
    <a class="menu__log hover-target" href="{{ url_for('register') }}">Регистрация</a>
    <br>
    <a class="menu__log hover-target" href="{{ url_for('login') }}">Войти</a>
    {% endif %}
</div>
<br><br><br>

            <button class="nav-toggle" type="button">
                <span class="nav-toggle__item">МЕНЮ</span>
            </button>
        </div>
    </div>
</header>



    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle"></h2>
        <h1 class="intro__title"></h1>
        </div>
    </div>
    

    




<section class="section">
    <div class="container">

        <div class="section__header">
            <div class="section__text">

                <h1><font size="6" color="#007bff" face="serif">СПИСОК ВСЕХ ТОВАРОВ</font></h1>
            </div>
        </div>
        

        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <div class="img__1">
                        <a href="{{ url_for('index3') }}"><img width="300" src="{{ url_for('static', filename='img/about/1.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ЛЕГЕНДЫ АНИМЕ</h3>
                <h2 style="color: #007bff;">699.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">900.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__2">
                        <a href="{{ url_for('index4') }}"><img width="300" src="{{ url_for('static', filename='img/about/2.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">КРЕСТ-НАКРЕСТ</h3>
                <h2 style="color: #007bff;">649.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">900.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__3">
                        <a href="{{ url_for('index5') }}"><img width="300" src="{{ url_for('static', filename='img/about/3.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                    <h3 class="text_pr">ПРИЗРАЧНЫЕ ЛЕГЕНДЫ</h3>
                    <h2 style="color: #007bff;">499.99 ₽</h2>
                    <s style="text-decoration: line-through #007bff 2px;">700.99 ₽</s>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <div class="img__4">
                        <a href="{{ url_for('index6') }}"><img width="300" src="{{ url_for('static', filename='img/about/4.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ТЕХНОЛИГА</h3>
                <h2 style="color: #007bff;">499.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">800.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__5">
                        <a href="{{ url_for('index7') }}"><img width="300" src="{{ url_for('static', filename='img/about/5.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ВЕЧНАЯ МЕРЗЛОТА</h3>
                <h2 style="color: #007bff;">649.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">800.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__6">
                        <a href="{{ url_for('index8') }}"><img width="300" src="{{ url_for('static', filename='img/about/6.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ПОДПИСКА FORNITE CREW</h3>
                <h2 style="color: #007bff;">699.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">900.99 ₽</s>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <div class="img__7">
                        <a href="{{ url_for('index9') }}"><img width="300" src="{{ url_for('static', filename='img/about/7.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ЗОЛОТЫЕ РУКИ</h3>
                <h2 style="color: #007bff;">619.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">800.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__8">
                        <a href="{{ url_for('index10') }}"><img width="300" src="{{ url_for('static', filename='img/about/8.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ЛЕДЯНЫЕ ЛЕГЕНДЫ</h3>
                <h2 style="color: #007bff;">649.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">800.99 ₽</s>
            </div>
            <div class="about__item">
                <div class="about__img">
                    <div class="img__9">
                        <a href="{{ url_for('index11') }}"><img width="300" src="{{ url_for('static', filename='img/about/9.jpg') }}" alt=""></a>
                    </div>
                </div>
                <div class="about__text">КУПИТЬ</div>
                <h3 class="text_pr">ПОТУСТОРОНИЕ ЛЕГЕНДЫ</h3>
                <h2 style="color: #007bff;">599.99 ₽</h2>
                <s style="text-decoration: line-through #007bff 2px;">800.99 ₽</s>
            </div>
        </div>
</section>
<br><br><br>
<footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__col">
          <h3 class="footer__col-title">Навигация</h3>
          <ul class="footer__col-list">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('help') }}">Помощь</a></li>
            <li><a href="{{ url_for('garantiya') }}">Гарантия</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h3 class="footer__col-title">Контакты</h3>
          <ul class="footer__col-list footer__col-list--contacts">
            <li><a href="mailto:example@mail.com">example@mail.com</a></li>
            <li><a href="tel:+78005553535">+7 (800) 555-35-35</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h3 class="footer__col-title">Социальные сети</h3>
          <ul class="footer__col-list footer__col-list--socials">
            <li><a href="https://vk.com/1flipstore1" target="_blank"><i class="fab fa-vk hover-target"></i></a></li>
            <li><a href="#" target="_blank"><i class="bi bi-telegram hover-target" ></i></a></li>
            <li><a href="#" target="_blank"><i class="bi bi-whatsapp hover-target"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__copy">
        <p>&copy; 1FLIPSTORE1, 2024. Все права защищены.</p>
  </footer>

  <!-- CURSOR -->
    <div class='cursor' id="cursor"></div>
    <div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div>

  <script>

    (function($) { "use strict";
        
  
      document.getElementsByTagName("body")[0].addEventListener("mousemove", function(n) {
          t.style.left = n.clientX + "px", 
      t.style.top = n.clientY + "px", 
      e.style.left = n.clientX + "px", 
      e.style.top = n.clientY + "px", 
      i.style.left = n.clientX + "px", 
      i.style.top = n.clientY + "px"
      });
      var t = document.getElementById("cursor"),
          e = document.getElementById("cursor2"),
          i = document.getElementById("cursor3");
      function n(t) {
          e.classList.add("hover"), i.classList.add("hover")
      }
      function s(t) {
          e.classList.remove("hover"), i.classList.remove("hover")
      }
      s();
      for (var r = document.querySelectorAll(".hover-target"), a = r.length - 1; a >= 0; a--) {
          o(r[a])
      }
      function o(t) {
          t.addEventListener("mouseover", n), t.addEventListener("mouseout", s)
      }
  })(jQuery); 
      </script> 
</body>
</html>
