<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbXQgca6ys2/+sahWVaaZChE5npEQNLvI9YsmvaIRVXoPJVETXDBXWViTNV1fEb6eh7OVvRYYrniODJow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>{% block title %}ТЕХНОЛИГА{% endblock %}</title>
</head>
<body>
    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
        </div>
    </div>
    
    
    <script>
        window.onload = function () {
          document.body.classList.add("loaded");
        };
       </script>
      <script>
        window.onload = function () {
          document.body.classList.add("loaded_hiding");
          window.setTimeout(function () {
            document.body.classList.add("loaded");
            document.body.classList.remove("loaded_hiding");
          }, 500);
        };
      </script>
<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>
    <ul class="menu__box">
      <a class="header__logo hover-target" href="{{ url_for('index') }}">1FLIPSTORE1</a>
      <br><br>
      <a class="menu__item hover-target" href="{{ url_for('index') }}">ГЛАВНАЯ</a>
      <a class="menu__item hover-target" href="{{ url_for('help') }}">ПОМОЩЬ</a>
      <a class="menu__item hover-target" href="{{ url_for('garantiya') }}">ГАРАНТИЯ</a>
    </ul>
  </div>
  <br><br>
  <div class="user-info">
      {% if user %}
      <span class="username"><span class="username-first-letter">{{ user.username[0] }}</span>{{ user.username[1:] }}   <big><big><big><i class="bi bi-person-fill"></i></big></big></big></span>
      <br>
      <a class="menu__log hover-target" href="{{ url_for('logout') }}">Выйти</a>
      <br>
      <a class="menu__log hover-target" href="{{ url_for('cart') }}">Корзина <big><big><big><i class="bi bi-cart"></i></big></big></big></a>
      {% else %}
      <a class="menu__log hover-target" href="{{ url_for('register') }}">Регистрация</a>
      <br>
      <a class="menu__log hover-target" href="{{ url_for('login') }}">Войти</a>
      {% endif %}
  </div>

<br><br>

            <button class="nav-toggle" type="button">
                <span class="nav-toggle__item">МЕНЮ</span>
            </button>
        </div>
    </div>
</header>


    <style>
        body {
            background-color: #333;
        }
    </style>
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle"></h2>
        <h1 class="intro__title"></h1>
        </div>
    </div>


<section class="section">
    <div class="container">
        <br>

<h1><font size="7" color="#fff" face="serif"><center>НАБОР "ТЕХНОЛИГА"</center></font></h1>

<br><br><br>

<<div class="row">
  <div class="col-md-6">
      <div class="about__items">
          <div class="about__imgs">
              <img src="{{ url_for('static', filename='img/about/4.jpg') }}" alt="Солнечное затмение" class="img-fluid" align="left" width="500">
          </div>
      </div>
  </div>
 
  
  <div class="col-md-6 ">
      <h1 class="text-primary"><font size="8" face="serif"><b>499.99 ₽</b></font></h1>
      <s style="text-decoration: line-through #007bff 3px; color: #fff;"><big>800.99 ₽</big></s>
      <form method="POST" action="{{ url_for('add_to_cart', currency='Технолига') }}">
          <button class="btn btn-primary btn-lg btn-block" type="submit">
                  Добавить в корзину <i class="bi bi-cart"></i>
          </button>
      </form>
      <br>
        <h1 class="text-white"><font size="5" face="serif">Лучшая цена  <i class="bi bi-check"></i></font></h1>
        <p><big><font size="2" color="#808080" face="serif">ДАЕМ ГАРАНТИЮ САМОЙ НИЗКОЙ ЦЕНЫ ВО ВСЕМ РУНЕТЕ!</font></big></p>
        <h1 class="text-white"><font size="5" face="serif">Быстрая доставка  <i class="bi bi-truck"></i></font></h1>
        <p><big><font size="2" color="#808080" face="serif">ПОСЛЕ ПОКУПКИ НАПИШИТЕ В ПОДДЕРЖКУ, ДАННЫЕ ПРИДУТ ВАМ ЧЕРЕЗ НЕСКОЛЬКО МИНУТ ПОСЛЕ ПОКУПКИ!</font></big></p>
    </div>
</div>
<div class="text__block">
    <h1 class="text-white"><big><b>ОПИСАНИЕ</b></big></h1>
    <p class="text-white"><big><b>Высокотехнологичное оружие с неоновой подсветкой и ультрасовременные защитные костюмы…
Будущее уже наступило. Шагайте в ногу со временем с набором «Технолига».</b></big></p>

    <p><big>Технолига - содержимое :
        <br>
    экипировка <b>Нейро-Рыси</b>
    <br>
    украшение на спину <b>«Нейрокогти»</b>
    <br>
    кирка <b>«Нейрокогти»</b>
    <br>
    экипировка <b>Б4Н4НА</b>
    <br>
    украшение на спину <b>«Разрезатель кожуры»</b>
    <br>
    кирка <b>«Разрезатель кожуры»</b>
    <br>
    экипировка <b>Техно-Восьмого</b>
    <br>
    украшение на спину <b>«Технопластина Восьмого»</b>
    <br>
    кирка <b>«Счастливые лезвия»</b>
    </big></p>

</div>

{% if user %}
<h2 class="text-white">Оставить отзыв</h2>
<form method="POST" action="{{ url_for('add_review', product='Технолига') }}" enctype="multipart/form-data">
  <div class="form-group">
    <label for="rating" class="text-white">Рейтинг:</label>
    <select class="form-control" id="rating" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="form-group">
    <br>
    <label for="comment" class="text-white">Комментарий:</label>
    <textarea class="form-control" id="comment" name="comment"></textarea>
  </div>
  <br>
  <div class="form-group">
      <br>
      <label for="images" class="text-white">Загрузить изображения:</label>
      <input type="file" class="form-control-file" id="images" name="images" multiple accept="image/*">
    </div>
  <br>
  <button type="submit" class="btn btn-primary">Отправить отзыв</button>
</form>

<h2 class="text-white">Отзывы:</h2>
<div class="rating-container">
  <div class="rating">
    {% for i in range(1, 6) %}
      {% if average_rating >= i %}
        <span class="star filled">&#9733;</span>
      {% elif average_rating > i - 1 %}
        <span class="star partial" style="--rating: {{ average_rating - (i - 1) }};">&#9733;</span>
      {% else %}
        <span class="star">&#9733;</span>
      {% endif %}
    {% endfor %}
  </div>
  <span class="rating-value">{{ average_rating }}</span>
</div>


{% for review in reviews %}
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <span class="text-black"><b><big>{{ review.user.username }}</big></b></span>
        <span class="text-black">Рейтинг: {{ review.rating }}</span>
        {% if user and review.user_id == user.id %}
          <form method="POST" action="{{ url_for('delete_review', review_id=review.id) }}">
            <button type="submit" class="btn btn-danger btn-sm">Удалить отзыв</button>
          </form>
        {% endif %}
      </div>
      <p class="card-text text-black">{{ review.comment }}</p>
      {% for image in review.images %}
  <a href="{{ url_for('static', filename='uploads/' + image.filename) }}" data-lightbox="review-images">
    <img src="{{ url_for('static', filename='uploads/' + image.filename) }}" width="200" alt="{{ image.filename }}">
  </a>
{% endfor %}
      <br><br>
      <p class="card-text text-muted">{{ review.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
    </div>
  </div>
{% endfor %}
{% else %}
<p class="text-white">Пожалуйста, <a href="{{ url_for('login') }}" class="text-white hover-target">войдите</a> или <a href="{{ url_for('register') }}" class="text-white hover-target">зарегистрируйтесь</a>, чтобы оставить отзыв.</p>
{% endif %}

<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="footer__col-title text-white">Навигация</h3>
        <ul class="footer__col-list list-unstyled">
          <li><a href="{{ url_for('index') }}" class="text-white">Главная</a></li>
          <li><a href="{{ url_for('help') }}" class="text-white">Помощь</a></li>
          <li><a href="{{ url_for('garantiya') }}" class="text-white">Гарантия</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer__col-title text-white">Контакты</h3>
        <ul class="footer__col-list footer__col-list--contacts list-unstyled">
          <li><a href="mailto:example@mail.com" class="text-white">example@mail.com</a></li>
          <li><a href="tel:+78005553535" class="text-white">+7 (800) 555-35-35</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="footer__col-title text-white">Социальные сети</h3>
        <ul class="footer__col-list footer__col-list--socials list-unstyled">
          <li><a href="https://vk.com/1flipstore1" target="_blank" class="text-white"><i class="fab fa-vk"></i></a></li>
          <li><a href="#" target="_blank" class="text-white"><i class="bi bi-telegram"></i></a></li>
          <li><a href="#" target="_blank" class="text-white"><i class="bi bi-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer__copy text-center text-white">
      <p>&copy; 1FLIPSTORE1, 2024. Все права защищены.</p>
    </div>
  </div>
</footer>


<!-- CURSOR -->
<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

<script>

  (function($) { "use strict";
      

    document.getElementsByTagName("body")[0].addEventListener("mousemove", function(n) {
        t.style.left = n.clientX + "px", 
    t.style.top = n.clientY + "px", 
    e.style.left = n.clientX + "px", 
    e.style.top = n.clientY + "px", 
    i.style.left = n.clientX + "px", 
    i.style.top = n.clientY + "px"
    });
    var t = document.getElementById("cursor"),
        e = document.getElementById("cursor2"),
        i = document.getElementById("cursor3");
    function n(t) {
        e.classList.add("hover"), i.classList.add("hover")
    }
    function s(t) {
        e.classList.remove("hover"), i.classList.remove("hover")
    }
    s();
    for (var r = document.querySelectorAll(".hover-target"), a = r.length - 1; a >= 0; a--) {
        o(r[a])
    }
    function o(t) {
        t.addEventListener("mouseover", n), t.addEventListener("mouseout", s)
    }
})(jQuery); 
    </script> 

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
