body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*, 
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}



/*User*/

.user-info {
	text-align: right;
	padding: 100px 60px;
}

.menu__log {
	margin:0 auto;
	width:200px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:lightgray;
}

.username {
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.username-first-letter {
	color: red;
}

/*Btn*/
.btn-add-to-cart {
	background-color: #0099ff;
	color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-left: 100px;
  }
  
  .btn-add-to-cart:hover {
	background-color: #0066cc;
  }

  
  .rating-container {
    display: flex;
    align-items: center;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 0.5rem;
    color: #ddd;
    margin-right: 0.5rem;
}

.rating > span.filled {
    color: #FFD700;
}

.rating > span.partial {
    position: relative;
    overflow: hidden;
}

.rating > span.partial::before {
    content: '★';
    color: #FFD700;
    position: absolute;
    left: 0;
    width: var(--rating);
    overflow: hidden;
}

.rating-value {
    font-size: 1.2rem;
    color: #FFD700;
}

.rating-count {
    font-size: 1rem;
    color: #808080;
    margin-left: 0.5rem;
}

/*OTZ*/
.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}


.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.usernamee {
    font-weight: bold;
	color: #000;
}

.review-comment {
    margin-bottom: 5px;
	color: #000;
}

.review-date {
    font-size: 0.8em;
    color: #888;
}

select#rating {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 3px 10px;
	font-size: 16px;
	cursor: pointer;
	outline: none; /* Remove default outline */
  }
  	
  
  select#rating:focus {
	border-color: #888; /* Highlight on focus */
  }

  
  textarea#comment {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	resize: both;
	outline: none;
  }

  .button {
	background-color: #337ab7; /* Синий цвет */
	color: #fff; /* Белый текст */
	border: 1px solid #337ab7;
	border-radius: 4px; /* Скругленные углы */
	padding: 10px 20px; /* Отступы */
	font-size: 16px; /* Размер шрифта */
	font-weight: 500; /* Полужирный шрифт */
	cursor: pointer; /* Указать на кликабельность */
	outline: none; /* Убрать стандартный фокус */
  
	/* Эффект при наведении */
	transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
	background-color: #286090; /* Немного затемнить при наведении */
  }
  
  .button:active {
	background-color: #1e486f; /* Еще больше затемнить при нажатии */
  }
  
  
  textarea#comment:focus {
	border-color: #888; /* Highlight on focus */
  }
  

@media (max-width: 480px) {
    .review-header {
        flex-direction: column;
        align-items: flex-start;
    }
}


/*RATING*/ 

.rating-container {
	display: flex;
	align-items: center;
  }
  
  .rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 1.5rem;
	color: #ddd;
	margin-right: 0.5rem;
  }
  
  .rating > span.filled {
	color: #FFD700;
  }
  
  .rating > span.partial {
	position: relative;
	overflow: hidden;
  }
  
  .rating > span.partial::before {
	content: '★';
	color: #FFD700;
	position: absolute;
	left: 0;
	width: var(--rating);
	overflow: hidden;
  }
  
  .rating-value {
	font-size: 1.2rem;
	color: #FFD700;
  }



/* Scrollbar */
::-webkit-scrollbar {
	width: 12px; 
	height: 12px; 
  }
  
  ::-webkit-scrollbar-track {
	background-color: #808080;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 6px; 
	border: 2px solid #808080;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #0077ff; 
  }




/* Container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*Intro*/
.intro__inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	color: #808080;
	
	text-align: center;
}

.intro__title {
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

.intro__suptitle{
	margin-bottom: 20px;

	font-family: 'Kaushan Script', cursive;
	font-size: 75px;
	color: #808080;
	text-align: center;
}





/*Header*/
.hamburger-menu {
	width: 100%;
	padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.hamburger-menu.fixed {
	padding: 10px 0;

	background-color: #d8e8f1;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	transform: translate3d(0, 0, 0);
}

.hamburger-menu.active {
	background-color: #d8e8f1;
}

.menu__btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header__logo {
	padding: auto;
	font-size: 20px;
	font-weight: 700;
	color: #007bff;
	text-decoration: none;
}
/*Nav*/

.menu__box {
	font-size: 14px;
	text-transform: uppercase;
}


.menu__item {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;

	color: #808080;
	text-decoration: none;

	transition: color 0.5s linear;
}

.menu__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fff;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.2s linear;
}

.menu__item:hover {
	color: #fff;
}

.menu__item:hover:after {
	opacity: 1;
}

.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 1;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #808080;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.about__item.center {
    margin: 0 auto;
}

/*Footer*/
.footer {
	background-color: #212121;
	color: #fff;
	padding: 40px 0;
  }
  
  .footer__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
  }
  
  .footer__col {
	flex: 0 0 33.333%;
	padding: 0 15px;
  }
  
  .footer__col-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
  }
  
  .footer__col-list {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer__col-list li {
	margin-bottom: 10px;
  }
  
  .footer__col-list li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .footer__col-list li a:hover {
	color: #ccc;
  }
  
  .footer__col-list--contacts li a {
	display: inline-block;
	margin-left: 5px;
  }
  
  .footer__col-list--socials {
	display: flex;
  }
  
  .footer__col-list--socials li {
	margin-right: 10px;
  }
  
  .footer__col-list--socials li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #555;
	border-radius: 50%;
	transition: background-color 0.3s ease;
  }
  
  .footer__col-list--socials li a:hover {
	background-color: #ccc;
	color: #333;
  }
  
  .footer__copy {
	text-align: center;
	font-size: 14px;
  }
  
  .footer__col-list--socials li a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #555;
	border-radius: 50%;
	transition: background-color 0.3s ease;
  }


  @media (max-width: 768px) {
	.footer__inner {
	  flex-wrap: wrap;
	}
	.text_pr {
		font-size: 12px;
	}

  
	.footer__col {
	  flex: 0 0 50%;
	  margin-bottom: 30px;
	}
  
	.footer__col:last-child {
	  flex: 0 0 100%;
	  text-align: center;
	}
  
	.footer__col-list--socials {
	  justify-content: center;
	}
  }
  
  @media (max-width: 480px) {
	.footer__col {
	  flex: 0 0 100%;
	  text-align: center;
	}
  
	.footer__col-list--socials {
	  justify-content: center;
	}
  }


  @media only screen and (max-width: 768px) {
    .containerr {
      padding: 20px;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 1.5em;
    }
    .review-header {
      flex-direction: column; 
      align-items: flex-start;
    }
  }

  
  
/*Section*/

.section__text {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	color: #FF0000;

	text-align: center;
}

.section__text:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;

	background-color: #808080;
}


/*Help*/

.help-icon {
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-size: 24px;
	color: #0077ff;
	cursor: pointer;
	z-index: 9999;
 }


.help-popup {
	position: fixed;
	bottom: 60px;
	left: 20px;
	width: 300px;
	max-height: 400px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	overflow-y: auto;
	z-index: 9999;
	display: none;
 }

.help-popup-header {
    background-color: #0077ff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help-popup-close {
    cursor: pointer;
    font-weight: bold;
}

.help-message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.help-message-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 10px;
}

.help-message-text {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.help-message.user .help-message-text {
    background-color: #0077ff;
    color: #fff;
}

.help-message.bot .help-message-avatar {
    background-color: #0077ff;
}

/*IMG*/

@media (max-width: 767px) {
    .about {
        flex-direction: column;
        align-items: center;
        padding: 0; /* Удаляем отступы внутри контейнера */
    }

    .about__item {
        width: 90%;
        max-width: none;
		margin-bottom: 20px;
    }

    .about__img img {
        width: 100%;
        height: auto;
    }
}

.about {
	display: flex;
	justify-content: space-between;
}



.about__imgs img {
	display: block;
	max-width: 100%;
	transition: opacity .3s linear;
}

.about__item {
	position: relative;

	background-color: #212121;
}

.about__item:hover .about__img {
	transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
	opacity: .1;
}

.about__item:hover .about__text {
	opacity: 1;
}

.about__img {
	transition: transform .2s linear;
}

.img__1 {
	background: linear-gradient(to bottom,
	#f38181, #fce38a);

}

.img__2 {
	background: linear-gradient(to bottom,
	#696969, #FFE4E1);

}

.img__3 {
	background: linear-gradient(to bottom,
	#333, #FFE4E1);

}

.img__4 {
	background: linear-gradient(to bottom,
	#9932CC, #EE82EE);

}

.img__5 {
	background: linear-gradient(to bottom,
	#E0FFFF, #87CEEB);

}

.img__6 {
	background: linear-gradient(to bottom,
	#4169E1, #E0FFFF);

}

.img__7 {
	background: linear-gradient(to bottom,
	#333, #FFFF00);

}

.img__8 {
	background: linear-gradient(to bottom,
	#5F9EA0, #4169E1);

}

.img__9 {
	background: linear-gradient(to bottom,
	#191970, #4169E1);

}


.about__img img {
	display: block;
	max-width: 100%;
	transition: opacity .3s linear;

}


.about__text {
	width: 100%;

	font-size: 15px;
	color: #008000;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 15%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50, 0);

	transition: opacity .2s linear;
}

.butter__sait {
	text-align: center;
}



.text__block {
	padding: 30px;
	margin: top;
	color: #fff;
}


/* Стили для хедера на компьютерах */
@media (min-width: 768px) {
    .header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    .navbar-nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin-left: 20px;
    }

    .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .nav-link:hover {
        color: #ccc;
    }
}

@media (max-width: 1230px) {

	/*Intro*/
	.intro__suptitle {
		font-size: 52px;
	}

	.intro__title {
		font-size: 120px;

	}

}

@media (max-width: 990px) {

	/*Intro*/
	.intro__suptitle {
		font-size: 32px;
	}

	.intro__title {
		font-size: 80px;
	}

}

#menu__toggle {
	display: none;
  }
  

@media (max-width: 770px) {
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #333;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

}

@media (max-width: 575px) {

	/*Intro*/
	.intro__suptitle {
		font-size: 22px;
	}

	.intro__title {
		font-size: 40px;
	}
}

.text {
	text-align: center;
}

.text__buy {
	text-align: right;
}

.h11 {
	background: #D9FFAD;
    color: green;
    padding: 2px;
}
